* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  border-bottom: 1px #000 solid;
}

.header ul {
  height: 100%;
  display: flex;
}

.header ul li {
  text-align: center;
  flex: 1;
  height: 60px;
  line-height: 60px;
  list-style-type: none;
}

.header ul li.active {
  border-bottom: 2px solid #f00;
}

.main {
  width: 100%;
}

.main ul {
  width: 100%;
}

.main ul li {
  list-style-type: none;
  width: 90%;
  margin: 10px auto;
  border: 1px #f90 solid;
}

.main ul li > div:nth-of-type(1) {
  display: flex;
  background: #f00;
  color: #fff;
}

.main ul li > div:nth-of-type(1) p {
  font-size: 40px;
}

.main ul li > div:nth-of-type(2) {
  height: 40px;
  line-height: 40px;
}
